---

- name: Ensure /var/log/journal exists
  file:
    name: /var/log/journal
    state: directory
  notify: Restart journald

- name: Remove swap from /etc/fstab
  mount:
    name: swap
    fstype: swap
    state: absent

- name: Disable swap
  command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Put SELinux in permissive mode
  selinux:
    policy: targeted
    state: permissive
  when: ansible_os_family in ['RedHat', 'Rocky']

- name: Ensure IPVS kernel modules are loaded
  modprobe:
    name: "{{ item }}"
    state: present
  with_items:
    - ip_vs
    - ip_vs_rr
    - ip_vs_wrr
    - ip_vs_sh
    - "{{ _conntrack_module_name }}"

- name: Ensure IPVS kernel modules are loaded at boot
  lineinfile:
    state: present
    path: /etc/modules-load.d/kubernetes.conf
    line: "{{ item }}"
    create: yes
  with_items:
    - ip_vs
    - ip_vs_rr
    - ip_vs_wrr
    - ip_vs_sh
    - "{{ _conntrack_module_name }}"

- name: Start and enable systemd-modules-load service
  systemd:
    name: systemd-modules-load
    enabled: yes
    state: started

- name: Install Kubernetes dependencies
  package:
    name:
      - ca-certificates
      - ipset
      - ipvsadm
      - openssl
    state: latest

- name: Install Kubernetes packages
  package:
    name: "{{ _kubernetes_packages }}"
    state: present

- name: Start and enable Kubelet service
  systemd:
    name: kubelet
    state: started
    enabled: yes
    daemon_reload: yes
