---

- name: Install yum-utils
  yum:
    name: yum-utils
    state: latest

- name: Search for yum-plugin-versionlock
  yum:
    list: yum-plugin-versionlock
  register: package_list

- name: Install
  yum:
    name: yum-plugin-versionlock
    state: latest
  when: 'package_list.results | length != 0'

- name: Search for yum-versionlock
  yum:
    list: yum-versionlock
  register: package_list

- name: Install
  yum:
    name: yum-versionlock
    state: latest
  when: 'package_list.results | length != 0'

- name: Add Kubernetes YUM repository
  yum_repository:
    name: "{{ kubernetes_repo['name'] }}"
    file: "{{ kubernetes_repo['name'] }}"
    description: "{{ kubernetes_repo['name'] }}"
    baseurl: "{{ kubernetes_repo['yum_repo'] }}"
    gpgkey: "{{ kubernetes_repo['yum_gpg_key'] }}"
    gpgcheck: "{{ kubernetes_repo['yum_gpg_key_check'] }}"
    repo_gpgcheck: "yes"
    state: present
  notify: Clean yum cache
