---
# Package options.

# Check supported Kubernetes versions here: https://containerd.io/releases/#kubernetes-support
containerd_version: "{{ versions[kubernetes_version].containerd_version }}"
containerd_download_url: "https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/containerd-{{ containerd_version }}-linux-{{ image_arch }}.tar.gz"
containerd_bin_dir: "/usr/local/bin"
# runc version from here: https://github.com/containerd/containerd/blob/main/docs/RUNC.md -> https://github.com/containerd/containerd/blob/main/script/setup/runc-version
runc_version: "{{ versions[kubernetes_version].runc_version }}"
runc_bin_dir: "/usr/local/bin"
runc_download_url: "https://github.com/opencontainers/runc/releases/download/{{ runc_version }}/runc.{{ image_arch }}"
runc_checksum: "sha256:https://github.com/opencontainers/runc/releases/download/{{ versions[kubernetes_version].runc_version }}/runc.sha256sum"
image_arch: "{{host_architecture | default('amd64')}}"

# Customize versions based on Kubernetes version to maintain compatibility
kubernetes_version: "1.25.6"

versions:
  1.20.15:
    containerd_version: "1.5.8"
    runc_version: "v1.0.3"
  1.21.14:
    containerd_version: "1.5.8"
    runc_version: "v1.0.3"
  1.22.13:
    containerd_version: "1.5.8"
    runc_version: "v1.0.3"
  1.23.12:
    containerd_version: "1.5.8"
    runc_version: "v1.0.3"
  1.24.7:
    containerd_version: "1.6.8"
    runc_version: "v1.1.4"
  1.25.6:
    containerd_version: "1.6.8"
    runc_version: "v1.1.4"
  1.26.3:
    containerd_version: "1.7.0"
    runc_version: "v1.1.7"

# Service options.
containerd_service_state: started
containerd_service_enabled: true

# Write a default containerd config.toml file.
containerd_default_config: false
containerd_config_default_write: true
containerd_cfg_dir: /etc/containerd

## CONTAINERD TOML SETTINGS

containerd_storage_dir: "/var/lib/containerd"
containerd_state_dir: "/run/containerd"
containerd_systemd_dir: "/etc/systemd/system/containerd.service.d"
containerd_oom_score: 0

containerd_grpc_max_recv_message_size: 16777216
containerd_grpc_max_send_message_size: 16777216
containerd_debug_level: "info"

containerd_metrics_address: ""
containerd_metrics_grpc_histogram: false

containerd_max_container_log_line_size: 16384

# Kernel modules.
containerd_modprobe:
  - { state: "present", option: "br_netfilter" }
  - { state: "present", option: "overlay" }

# Entries for sysctl.
containerd_sysctl:
  - {
      state: "present",
      name: "net.bridge.bridge-nf-call-ip6tables",
      value: "1",
    }
  - { state: "present", name: "net.bridge.bridge-nf-call-iptables", value: "1" }
  - { state: "present", name: "net.ipv4.ip_forward", value: "1" }
