[
{'op': 'add', 'path': '/spec/containers/0/command/-', 'value': '--bind-address={{ ansible_default_ipv4.address }}'},
{'op': 'replace', 'path': '/spec/containers/0/startupProbe/httpGet/host', 'value': '{{ ansible_default_ipv4.address }}'},
{'op': 'replace', 'path': '/spec/containers/0/livenessProbe/httpGet/host', 'value': '{{ ansible_default_ipv4.address }}'}
]
