---
# Kubernetes components versions
kubernetes_repo_distribution: "xenial"

kubernetes_version: "1.21.14"
kubelet_version: "{{ versions[kubernetes_version].kubelet_version }}"
kubectl_version: "{{ versions[kubernetes_version].kubectl_version }}"
kubeadm_version: "{{ versions[kubernetes_version].kubeadm_version }}"

# critools should be aligned with Kubernetes version:
# https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/#installing-crictl
# but 1.21 is not in the APT repos :'( and installing 1.19 doesn't wokr with kubeadm 1.21
critools_version: "{{ versions[kubernetes_version].critools_version }}"
# Kubernetes CNI comes from here:
# https://github.com/containernetworking/plugins
# FIXME: there are newer version, but they are not available in the APT repos
# also note that 1.0 has breaking changes
kubernetescni_version: "{{ versions[kubernetes_version].kubernetescni_version }}"

skip_kubelet_upgrade: False

versions:
  1.20.15:
    kubelet_version: "1.20.15"
    kubectl_version: "1.20.15"
    kubeadm_version: "1.20.15"
  1.21.14:
    kubelet_version: "1.21.14"
    kubectl_version: "1.21.14"
    kubeadm_version: "1.21.14"
  1.22.13:
    kubelet_version: "1.22.13"
    kubectl_version: "1.22.13"
    kubeadm_version: "1.22.13"