---
# Kubernetes components versions
kubernetes_repo_distribution: "xenial"

kubernetes_version: "1.27.6"
kubelet_version: "{{ kubernetes_version }}"
kubectl_version: "{{ kubernetes_version }}"
kubeadm_version: "{{ kubernetes_version }}"
# We need to pin the version of critools because upstream installs always the
# latest one, instead of the one compatible with Kubernetes.
# See: https://github.com/sighupio/fury-kubernetes-on-premises/issues/43
critools_version: "{{ dependencies[kubernetes_version].critools_version }}"

skip_kubelet_upgrade: False

dependencies:
  # To pin dependencies for each Kubernetes version
  "1.22.13":
    critools_version: "1.25.0"
  "1.23.12":
    critools_version: "1.25.0"
  "1.24.7":
    critools_version: "1.25.0"
  "1.24.16":
    critools_version: "1.25.0"
  "1.25.6":
    critools_version: "1.26.0"
  "1.25.12":
    critools_version: "1.26.0"
  "1.26.3":
    critools_version: "1.26.0"
  "1.26.7":
    critools_version: "1.26.0"
  "1.27.6":
    critools_version: "1.26.0"