apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
metadata:
  name: kubeadm-config

etcd:
  external:
    endpoints:
{{ etcd.endpoints | to_nice_yaml | indent(4, true) }}
    caFile: {{ etcd.caFile }}
    certFile: {{ etcd.certFile }}
    keyFile: {{ etcd.keyFile }}
imageRepository: "{{ kubernetes_image_registry }}"
dns:
{% if coredns_image_prefix != "" %}
  imageRepository: {{ kubernetes_image_registry }}{{ coredns_image_prefix }}
{% endif %}
apiServer:
{% if kubernetes_apiserver_certSANs | length %}
  certSANs:
{{ kubernetes_apiserver_certSANs | to_nice_yaml | indent(2, true) -}}
{% endif %}
  extraArgs:
{% if tls_cipher_suites != "" %}
    - name: tls-cipher-suites
      value: {{ tls_cipher_suites | join(',') }}
{% endif %}
{% if tls_cipher_suites == "" %}
    - name: tls-cipher-suites
      $patch: delete
{% endif %}
    - name: enable-admission-plugins 
      value: "NamespaceLifecycle,LimitRanger,PodNodeSelector,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota"
{% if kubernetes_cloud_provider != "" %}
    - name: cloud-provider
      value: {{ kubernetes_cloud_provider }}
{% endif %}
{% if kubernetes_cloud_provider == "" %}
    - name: cloud-provider
      $patch: delete
{% endif %}
{% if kubernetes_cloud_config == "" %}
    - name: cloud-config
      $patch: delete
{% endif %}
{% if kubernetes_cloud_config != "" %}
    - name: cloud-config
      value: {{ kubernetes_cloud_config }}
{% endif %}
    - name: audit-log-maxage
      value: "{{ audit_policy_max_age }}"
    - name: audit-log-path
      value: "{{ audit_log_dir }}/kube-apiserver-audit.log"
    - name: audit-policy-file
      value: {{ audit_policy_config_path }}
    - name: audit-log-maxsize
      value: "50"
    - name: audit-log-maxbackup
      value: "20"
{% if kubernetes_encryption_config != "" %}
    - name: encryption-provider-config
      value: {{ kubernetes_remote_encryption_config }}
{% endif %}
{% if kubernetes_encryption_config == "" %}
    - name: encryption-provider-config
      $patch: delete
{% endif %}
{% if oidc_issuer_url != "" %}
    - name: oidc-issuer-url
      value: {{ oidc_issuer_url }}
    - name: oidc-client-id
      value: {{ oidc_client_id }}
    - name: oidc-ca-file
      value: {{ oidc_ca_file }}
    - name: oidc-username-claim
      value: "{{ oidc_username_claim }}"
    - name: oidc-username-prefix
      value: "{{ oidc_username_prefix }}"
    - name: oidc-groups-claim
      value: "{{ oidc_groups_claim }}"
    - name: oidc-groups-prefix
      value: "{{ oidc_groups_prefix }}"
{% endif %}
{% if oidc_issuer_url == "" %}
    - name: oidc-issuer-url
      $patch: delete
    - name: oidc-client-id
      $patch: delete
    - name: oidc-ca-file
      $patch: delete
    - name: oidc-username-claim
      $patch: delete
    - name: oidc-username-prefix
      $patch: delete
    - name: oidc-groups-claim
      $patch: delete
    - name: oidc-groups-prefix
      $patch: delete
{% endif %}
{% if service_account_issuer is defined %}
    - name: service-account-issuer
      value: "{{ service_account_issuer }}"
{% endif %}
{% if service_account_issuer is not defined %}
    - name: service-account-issuer
      $patch: delete
{% endif %}
{% if api_audiences is defined %}
    - name: api-audiences
      value: "{{ api_audiences }}"
{% endif %}
{% if api_audiences is not defined %}
    - name: api-audiences
      $patch: delete
{% endif %}
  extraVolumes:
  - name: audit-files
    hostPath: {{ audit_log_dir }}
    mountPath: {{ audit_log_dir }}
    readOnly: false
    pathType: Directory
  - name: audit-policy
    hostPath: {{ audit_policy_config_path }}
    mountPath: {{ audit_policy_config_path }}
    readOnly: true
    pathType: File
{% if kubernetes_encryption_config != "" %}
  - name: encryption-configuration
    hostPath: {{ kubernetes_remote_encryption_config }}
    mountPath: {{ kubernetes_remote_encryption_config }}
    readOnly: true
    pathType: File
{% endif %}
{% if kubernetes_cloud_config != "" %}
  - name: cloud
    hostPath: {{ kubernetes_cloud_config }}
    mountPath: {{ kubernetes_cloud_config }}
    readOnly: true
    pathType: File
{% endif %}
  timeoutForControlPlane: null
scheduler:
  extraArgs:
{% if tls_cipher_suites != "" %}
    - name: tls-cipher-suites
      value: {{ tls_cipher_suites | join(',') }}
{% endif %}
{% if tls_cipher_suites == "" %}
    - name: tls-cipher-suites
      $patch: delete
{% endif %}
controllerManager:
  extraArgs:
{% if tls_cipher_suites != "" %}
    - name: tls-cipher-suites
      value: {{ tls_cipher_suites | join(',') }}
{% endif %}
{% if tls_cipher_suites == "" %}
    - name: tls-cipher-suites
      $patch: delete
{% endif %}
{% if kubernetes_cloud_config != "" %}
    - name: cloud-config
      value: {{ kubernetes_cloud_config }}
{% endif %}
{% if kubernetes_cloud_config == "" %}
    - name: cloud-config
      $patch: delete
{% endif %}
{% if kubernetes_cloud_provider != "" %}
    - name: cloud-provider
      value: {{ kubernetes_cloud_provider }}
{% endif %}
{% if kubernetes_cloud_provider == "" %}
    - name: cloud-provider
      $patch: delete
{% endif %}
{% if kubernetes_cloud_config != "" %}
  extraVolumes:
  - name: cloud
    hostPath: {{ kubernetes_cloud_config }}
    mountPath: {{ kubernetes_cloud_config }}
    readOnly: true
    pathType: File
{% endif %}
networking:
  podSubnet: {{ kubernetes_pod_cidr }}
  serviceSubnet: {{ kubernetes_svc_cidr }}
  dnsDomain: "cluster.local"